*{
    background-color: #dcdcdc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.photo{
    border-radius: 50%;
    float: left;
    background-image: url("group\ hotel.jpeg");
    height: 200px;
    width: 200px;
    object-fit: contain;
}
.container{
    display: flex;
    padding-left: 20px;
}
button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px #ffff00;
    margin-left: 50%;
    cursor: pointer;
  }
  .Testimonial{
    display: flex;
    justify-content: space-between;
  }
  .Testimonial>.Testimonial1{
    height: 200px;
    width: 350px;
    background-color: white;
    margin-top: 60px;
  }
  .Testimonial>.Testimonial2{
    height: 200px;
    width: 350px;
    background-color: white;
    margin-top: 60px;
  }
  .Testimonial>.Testimonial3{
    height: 200px;
    width: 350px;
    background-color: white;
    margin-top: 60px;
  }
  .Testimonial1>h1{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .Testimonial1>h2{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .Testimonial2>h1{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .Testimonial2>h2{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .Testimonial3>h2{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .Testimonial3>h1{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  a{
    text-decoration: none;
    background-color: #000;
    color: #fff ;
  }
  
  button:hover {
    transform: translate(5px, -5px);
  }